<!-- 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="dashboard">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="course">Course</a>
          <a class="nav-item nav-link" href="contact">contact</a>
          <a class="nav-item nav-link" href="/home/logout">Pricing</a>
          <a class="nav-item nav-link disabled" href="#">Disabled</a>
        </div>
      </div>
    </nav> -->

<!--  
    <div role="navigation" class="navbar navbar-default navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="http://www.coderszine.com" class="navbar-brand">E-SHOPPING</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
           <li  class="active"> <a href="dashboard">Home</a></li>    
            <li class="active"><a href="course">Course</a></li>
            <li class="active"><a href="contact">Contact Us</a></li>      
            <li class="active"><a href="/home/logout">Logout</a></li>  
          </ul>         
        </div>
      </div>
    </div>	
	<div class="container" style="min-height:500px;">  -->

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

<div class="header">
  <a href="#default" class="logo">CRUD</a>
  <div class="header-right">
    <a class="active" href="dashboard">Home</a>
     <a href="course">Course</a>
     <a href="contact">Contact</a>
     <a href="/home/pagination">Pagination</a>
     <a href="/home/ajax">ajaxsearch</a>
     <a href="/home/logout">Logout</a>

  </div>
</div>
</body>
</html>